html,
body,
main,
div,
article,
footer {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

nav .brand-logo {
    margin: 10px;
}

section {
    margin-bottom: 5rem;
}
#map {
    height: 260px;
    z-index: 2;
}

@keyframes moveFromLeft {
    from {
        transform: translateX(100%);
    }
}

@keyframes moveToLeft {
    to {
        transform: translateX(100%);
    }
}

.slide-in {
    animation: moveFromLeft 0.4s ease both;
}

.slide-out {
    animation: moveToLeft 0.4s ease both;
}

main > section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
    max-width: 800px;
    padding: 0.5rem;
}

div {
    white-space: pre-wrap;
    // white-space: normal;
}


.jobad {
    padding: 0.5rem;
    margin: 0.5rem 0.1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    clear: both;
    word-wrap: break-word;
}

.jobreq {
    padding: 1rem;
    margin: 1rem 0.25rem;
    border: 1px solid #ccc;
    background-color: #EB9A60;
    border-radius: 0.5rem;
}

.btn {
    max-width: 100%;
}

.sorting {
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem;
}

.publishdate,
.relevance {
    font-size: 16px;
    padding: 0 0.5rem;
    font-weight: bold;
    color: black;
}

.star {
    float: right;
}

.faved {
    color: #EB6E15;
}

img {
    max-width: 95%;
}

.cntnr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin: 0.5rem auto;
}

@media only screen and (min-width: 994px) {
    .lnktxt {
        display: flex;
        flex-direction: row;
        padding: 0 0.5rem;
        justify-content: space-around;
        width: 8rem;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    left: 0;
    right: 0;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4rem;
    margin: 0 auto;
    color: white;
}

.footer, nav {
    background-color: #05919E;
}

.lnkryt > a {
    color: white;
}

.lnkryt {
    text-align: center;
}

.applybtn {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.lnklft {
    text-align: left;
}

#upbtn {
    text-align: right;
}

#upbtn,
.lnklft {
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropcontent {
    display: none;
    position: absolute;
    width: 160px;
    background-color: #05919E;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.dropcontent span {
    display: block;
    padding: 12px 16px;
    background-color: #05919E;
    color: white;
    cursor: pointer;
}

.dropcontent span:hover {
    border: 1px solid #ccc;
}

.show {
    display: block;
}

.dropbtn {
    cursor: pointer;
}

span.badge {
    min-width: 5px;
    top: -1.4rem;
    color: white;
    border-radius: 50%;
    position: relative;
    background-color: #EB6E15;
    margin-left: 1px;
    padding: 1px;
}
